*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

html{
  scroll-behavior: smooth;
}

header{
  position: fixed;
  top: 5%;
  right: 3%;
  height: 70px;
  z-index: 1000000;
}


header nav ul{
  list-style: none;
}

header nav li{
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
}

.active{
  background: white;
  color: black;
  display: block;
  padding: 15px 19px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border-radius: 50%;
  font-size: 20px;
}

.active:hover span{
  text-shadow: 2px 2px gray;
}

.box{
  position: relative;
  height: 100vh;
}

#uno{
  background-color: red;
  color: yellow;
}

#due{
  background-color: green;
  color: yellow;
}

#tre{
  background-color: yellow;
  color: green;
}

.shoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.shoes img{
  width: 100%;
}

.shoes span{
  font-weight: 900;
  font-size: 250%;
}