*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* Effetto scroll quando si utilizza il menù navigazione */
html{
  scroll-behavior: smooth;
}

/* Menù navigazione fisso in alto */
header{
  position: fixed;
  top: 5%;
  right: 3%;
  height: 70px;
  z-index: 1000000;
}


header nav ul{
  list-style: none;
}

/* lista disposta in orizzontale */
header nav li{
  display: inline-block;
  margin: 5px;
}

/* caratteristica del bottone di navigazione pagina */
.active{
  background: white;
  color: black;
  display: block;
  padding: 15px 19px;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
}

.active:hover{
  box-shadow: 3px 3px gray;
}

.active:hover span{
  text-shadow: 2px 2px gray;
}

/* caratteristiche del box di visualizzazione del modello di scarpe */
.box{
  position: relative;
  height: 100vh;
}

#uno{
  background-color: red;
  color: yellow;
}

#due{
  background-color: green;
  color: yellow;
}

#tre{
  background-color: yellow;
  color: green;
}

/* per centrare il contenuto nel box */
.shoes{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 250%;
}

.shoes img{
  width: 100%;
}

